@font-face {
  font-family: AveriaGruesaLibre-Regular;
  src: url("../../fonts/AveriaGruesaLibre-Regular.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-AveriaGruesaLibre-Regular {
  font-family: AveriaGruesaLibre-Regular; }

@font-face {
  font-family: CantataOne-Regular;
  src: url("../../fonts/CantataOne-Regular.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-CantataOne-Regular {
  font-family: CantataOne-Regular; }

@font-face {
  font-family: DAYROM_X;
  src: url("../../fonts/DAYROM_X.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-DAYROM_X {
  font-family: DAYROM_X; }

@font-face {
  font-family: DAYROM__;
  src: url("../../fonts/DAYROM__.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-DAYROM__ {
  font-family: DAYROM__; }

@font-face {
  font-family: Hercules;
  src: url("../../fonts/Hercules.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-Hercules {
  font-family: Hercules; }

@font-face {
  font-family: HobbyHorseNF;
  src: url("../../fonts/HobbyHorseNF.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-HobbyHorseNF {
  font-family: HobbyHorseNF; }

@font-face {
  font-family: Lanehum;
  src: url("../../fonts/Lanehum.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-Lanehum {
  font-family: Lanehum; }

@font-face {
  font-family: MERKINF_;
  src: url("../../fonts/MERKINF_.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-MERKINF_ {
  font-family: MERKINF_; }

@font-face {
  font-family: MERKING_;
  src: url("../../fonts/MERKING_.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-MERKING_ {
  font-family: MERKING_; }

@font-face {
  font-family: MERKINS_;
  src: url("../../fonts/MERKINS_.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-MERKINS_ {
  font-family: MERKINS_; }

@font-face {
  font-family: MERKIN__;
  src: url("../../fonts/MERKIN__.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-MERKIN__ {
  font-family: MERKIN__; }

@font-face {
  font-family: PatuaOne-Regular;
  src: url("../../fonts/PatuaOne-Regular.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-PatuaOne-Regular {
  font-family: PatuaOne-Regular; }

@font-face {
  font-family: RockoFLF-Bold;
  src: url("../../fonts/RockoFLF-Bold.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-RockoFLF-Bold {
  font-family: RockoFLF-Bold; }

@font-face {
  font-family: RockoFLF;
  src: url("../../fonts/RockoFLF.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-RockoFLF {
  font-family: RockoFLF; }

@font-face {
  font-family: RockoUltraFLF-Bold;
  src: url("../../fonts/RockoUltraFLF-Bold.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-RockoUltraFLF-Bold {
  font-family: RockoUltraFLF-Bold; }

@font-face {
  font-family: RockoUltraFLF;
  src: url("../../fonts/RockoUltraFLF.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-RockoUltraFLF {
  font-family: RockoUltraFLF; }

@font-face {
  font-family: RomeoDN;
  src: url("../../fonts/RomeoDN.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-RomeoDN {
  font-family: RomeoDN; }

@font-face {
  font-family: Therfont;
  src: url("../../fonts/Therfont.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-Therfont {
  font-family: Therfont; }

@font-face {
  font-family: xtrchr;
  src: url("../../fonts/xtrchr.ttf"); }

/* line 8, ../../scss/app/utilities/fonts.scss */
.font-xtrchr {
  font-family: xtrchr; }
