@import "compass/css3";
@import "foundation/components/global";
@import "mixins/shapes";

// @import "settings";
// @import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
form {

	* {
		font-size: 11px !important;
	}

	.field {
		padding-bottom: 1.32em;

		[name] {
			margin: 0;
		}

		[type] {
			height: 30px;
		}

		small.error {
			margin: 0;
		}
	}	
}

.label, .button, button {
	background-color: #008CBA;
}

a {
	color: #008CBA;
}

.button, button {
	&:hover {
		background-color: darken(#008CBA, 10%);
	}
}

.list-of-classes {
	figure {
		width: 250px;

		@media only screen and (max-width: 335px) {
			width: 220px;
			& > img {
				width: 220px;
			}
		}

		& > img {
			width: 250px;
			height: 150px;
			@include border-top-left-radius(0.2em);
			@include border-top-right-radius(0.2em);
		}

		& > section {
			position: relative;
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
			@include border-bottom-left-radius(0.2em);
			@include border-bottom-right-radius(0.2em);

			img {
				width: 40px;
				height: 35px;
			}

			$header-color: #49ACF2;
			& > header {
				font-size: 13px;
				color: white;
				font-weight: bold;
				text-align: center;
				background-color: #49ACF2;
				margin-bottom: 1em;
				padding: 7px;
				position: relative;

				& > span {
					&:before {
						@include abs-content();
						@include right-triangle(
							"bottom-right", 
								darken($header-color, 20%), 10px,
								transparent, 10px
						);
						top: -10px;
						left: -11px;
					}

					&:after {
						@include abs-content();
						@include right-triangle(
							"bottom-left", 
								darken($header-color, 20%), 10px,
								transparent, 10px
						);
						top: -10px;
						right: -11px;
					}
				}

				&:before {
					@include abs-content();
					width: 11px;
					top: 0;
					left: -11px;
					height: 100%;
					background-color: $header-color;
				}

				&:after {
					@include abs-content();
					width: 11px;
					top: 0;
					right: -11px;
					height: 100%;
					background-color: $header-color;
				}
			}

			& > article {
				max-width: 100% !important;
				& > p {
					position: relative;
					top: -0.22em;
					font-size: 12px;
					font-weight: bold;
					padding: 0;

					& > .name {
						color: #000;
					}

					& > .title {
						color: gray;
						font-size: 11px;
						font-weight: normal;
					}
				}
			}

		}
	}
}

.side-bar {
	$width: 15em;

	width: $width;

	margin-top: 1em;
	padding: 0.1em 0 !important;
	@include box-shadow(-0.3em 0.3em 1em 1px #aaa);
	div {
		padding: 0.2em;g
		&.name {
			font-weight: bold;
			color: #2f2f2f;
			margin-top: 0.5em;
			font-size: 14px;
		}

		&.title {
			color:#9f9f9f;
			font-size: 11px;
		}
	}

	img {
		width: 5em;
		height: 5em;
	}

	.side-nav {
		padding: 0;
		li {
			margin: 0;

			& > * {
				padding: 0.5em;
			}

			&.active a {
				font-weight: bold;
				color: #318CE7;
			}


			$header-rb-bg-color: #E5AA70;
			$header-rb-fg-color: white;
			& > header {
				margin: 0.5em 0;
				color: $header-rb-fg-color;
				background-color: $header-rb-bg-color;
				font-weight: bold;
				position: relative;
			}
			
			&.active, &:hover a {background-color: #efefef}
		}
	}

	position: relative;

	$dimension: 70px;
	$center: $dimension / 2;


	a.fi-list {
		position: absolute;
		top: -$center/2;
		right: -$center;
		width: $dimension;
		height: $dimension;
		font-size: $dimension;
		z-index: 1000;

		color: #2DAEBF;
		$normal-percent: 3%;
		@include text-shadow(
			0px 1px 0px lighten(#0092b3, $normal-percent),
			0px 2px 0px lighten(#0087a6, $normal-percent),
			0px 3px 0px lighten(#008099, $normal-percent),
			0px 4px 0px lighten(#00758c, $normal-percent),
			0px 5px 0px lighten(#555, $normal-percent),
			0px 6px 0px lighten(#006a80, $normal-percent),
			0px 0px 0px lighten(#006073, $normal-percent),
			0px 8px 7px lighten(#005566,$normal-percent),
			0 0 0.5em #eee
		);

		&:hover {
			color: lighten(#2DAEBF, 5%);
			$hover-percent: 5%;
			@include text-shadow(
				0px 1px 0px lighten(#0092b3, $hover-percent),
				0px 2px 0px lighten(#0087a6, $hover-percent),
				0px 3px 0px lighten(#008099, $hover-percent),
				0px 4px 0px lighten(#00758c, $hover-percent),
				0px 5px 0px lighten(#555, $hover-percent),
				0px 6px 0px lighten(#006a80, $hover-percent),
				0px 0px 0px lighten(#006073, $hover-percent),
				0px 8px 7px lighten(#005566,$hover-percent),
				0 0 1em #eee
			);
		}
	}

}

@keyframes slide-hide {
	from {width: 15em; @include opacity(1)}
	to {width: 1em; @include opacity(0)}
}

@-webkit-keyframes slide-hide /* Safari and Chrome */ {
	from {width: 15em; @include opacity(1)}
	to {width: 1em; @include opacity(0)}
}

@keyframes slide-show {
	from {width: 1em; @include opacity(0)}
	to {width: 15em;  @include opacity(1)}
}

@-webkit-keyframes slide-show /* Safari and Chrome */ {
	from {width: 1em; @include opacity(0)}
	to {width: 15em;  @include opacity(1)}
}

.side-bar {
	&.slide-hide {
		animation: slide-hide 1s;
		-webkit-animation: slide-hide 1s; /* Safari and Chrome */
		width: 1em;
	}

	&.slide-show {
		animation: slide-show 1s;
		-webkit-animation: slide-show 1s;
		width: 15em;
	}
}