@import "foundation/components/global-settings";
@import "compass/css3";
@import "mixins/utils";

@include content-min-height(450px);

.login {
	& > section {
		padding: 2em;
		@media #{$small-only} {
			padding-top: 1em;
		}

		h3, p {
			text-align: center;
		}

		p, a, button {
			font-size: 12px;
		}
	}

	form {
		@media #{$medium-up} {
			padding-top: 2.5em;
		}

		.remember {
			position: relative;
			top: -0.3em;
		}

		.forgot {
			position: relative;
			top: -0.17em;
		}
	}

	& > .fb-login {
		& > p {
			margin-bottom: 2em;
		}

		span.fi-social-facebook {
			font-size: 14.3em;
			color: #2DAEBF;
			@include text-shadow(
				0px 1px 0px #0092b3, 
				0px 2px 0px #0087a6, 
				0px 3px 0px #008099, 
				0px 4px 0px #00758c, 
				0px 5px 0px #555, 
				0px 6px 0px #006a80, 
				0px 0px 0px #006073, 
				0px 8px 7px #005566);
		}

		.button {
			margin-top: 2em;
		}
	}
}

.forgot {
	position: relative;
	top: 0.5em;
}