@import "foundation/components/global-settings";
@import "foundation/components/top-bar-settings";
@import "foundation/components/offcanvas-settings";
@import "compass/css3";

.body {
	overflow: hidden !important;

	& > section.container {
		min-height: 600px;
	}

	& > footer {
		margin-top: 1em;
		text-align: center;
		font-size: 12px;
		padding: 3em 0;
		border-top: 1px solid #efefef;
	}
}

a.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0.5em;
	background-color: #66FF00;
	color: white;
	font-size: 12px;
	z-index: 120;
	margin-left: 10em;
	@include border-top-left-radius(0.5em);
	@include opacity(0);
	@include box-shadow(#000 0 0 1em 1px);
	&:hover {
		color: white;
	}
}
