/* line 6, ../../custom_foundation_build/scss/dash_side_menu.scss */
.dash-side-menu .profile img {
  width: 110px;
  height: 100px;
}
/* line 10, ../../custom_foundation_build/scss/dash_side_menu.scss */
.dash-side-menu .profile h5 {
  margin-top: 0.5em;
}
