/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-white {
  background-color: white;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-white:hover {
  background-color: #f2f2f2;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-white {
  color: white;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-white {
  border-color: white;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-gray {
  background-color: gray;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-gray:hover {
  background-color: #737373;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-gray {
  color: gray;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-gray {
  border-color: gray;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-cinnabar {
  background-color: #e34234;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-cinnabar:hover {
  background-color: #df2e1f;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-cinnabar {
  color: #e34234;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-cinnabar {
  border-color: #e34234;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-fuzzy-wuzzy {
  background-color: #cc6666;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-fuzzy-wuzzy:hover {
  background-color: #c65353;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-fuzzy-wuzzy {
  color: #cc6666;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-fuzzy-wuzzy {
  border-color: #cc6666;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-lust {
  background-color: #e62020;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-lust:hover {
  background-color: #d51818;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-lust {
  color: #e62020;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-lust {
  border-color: #e62020;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-neon-fuchsia {
  background-color: #fe4164;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-neon-fuchsia:hover {
  background-color: #fe284f;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-neon-fuchsia {
  color: #fe4164;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-neon-fuchsia {
  border-color: #fe4164;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-outrageous-orange {
  background-color: #ff6e4a;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-outrageous-orange:hover {
  background-color: #ff5a31;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-outrageous-orange {
  color: #ff6e4a;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-outrageous-orange {
  border-color: #ff6e4a;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-dark-chestnut {
  background-color: #986960;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-dark-chestnut:hover {
  background-color: #885e56;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-dark-chestnut {
  color: #986960;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-dark-chestnut {
  border-color: #986960;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-medium-purple {
  background-color: mediumpurple;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-medium-purple:hover {
  background-color: #845cd6;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-medium-purple {
  color: mediumpurple;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-medium-purple {
  border-color: mediumpurple;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-medium-sea-green {
  background-color: mediumseagreen;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-medium-sea-green:hover {
  background-color: #36a065;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-medium-sea-green {
  color: mediumseagreen;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-medium-sea-green {
  border-color: mediumseagreen;
}

/* line 2, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-brandeis-blue {
  background-color: #0070ff;
}

/* line 3, ../../custom_foundation_build/scss/fg-bg.scss */
body .bg-brandeis-blue:hover {
  background-color: #0065e6;
}

/* line 5, ../../custom_foundation_build/scss/fg-bg.scss */
body .fg-brandeis-blue {
  color: #0070ff;
}

/* line 6, ../../custom_foundation_build/scss/fg-bg.scss */
body .bdg-brandeis-blue {
  border-color: #0070ff;
}
