/* line 5, ../../custom_foundation_build/scss/li-classes.scss */
.classes .item {
  padding-right: 1.5em;
  margin-bottom: 1em;
}
/* line 10, ../../custom_foundation_build/scss/li-classes.scss */
.classes .item .classes-content {
  background-color: white;
  min-height: 20em;
  -webkit-box-shadow: 0 0 5px #9e9e9e;
  -moz-box-shadow: 0 0 5px #9e9e9e;
  box-shadow: 0 0 5px #9e9e9e;
}
/* line 16, ../../custom_foundation_build/scss/li-classes.scss */
.classes .item .classes-content, .classes .item .class-image img {
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;
  border-top-right-radius: 1em;
}
/* line 21, ../../custom_foundation_build/scss/li-classes.scss */
.classes .item header {
  padding: 1em 0;
}
/* line 25, ../../custom_foundation_build/scss/li-classes.scss */
.classes .item article {
  padding: 1.5em;
}
