/* line 6, ../scss/app/page_template.scss */
.body {
  overflow: hidden !important; }
/* line 9, ../scss/app/page_template.scss */
.body > section.container {
  min-height: 600px; }
/* line 13, ../scss/app/page_template.scss */
.body > footer {
  margin-top: 1em;
  text-align: center;
  font-size: 12px;
  padding: 3em 0;
  border-top: 1px solid #efefef; }

/* line 22, ../scss/app/page_template.scss */
a.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  background-color: #66FF00;
  color: white;
  font-size: 12px;
  z-index: 120;
  margin-left: 10em;
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-box-shadow: black 0 0 1em 1px;
  -moz-box-shadow: black 0 0 1em 1px;
  box-shadow: black 0 0 1em 1px; }
/* line 35, ../scss/app/page_template.scss */
a.back-to-top:hover {
  color: white; }
