/* line 3, ../../custom_foundation_build/scss/page_header.scss */
.top-bar section.top-bar-section ul li.active a {
  background-color: #2e54b2;
  color: #aaa;
  text-shadow: white 1px 1px 2.5em;
}

/* line 9, ../../custom_foundation_build/scss/page_header.scss */
.top-bar ul.dropdown a {
  font-weight: bold;
}
