/* line 4, ../../custom_foundation_build/scss/ribbon.scss */
.rb {
  min-height: 10em;
  background-color: #446ccf;
  z-index: 0;
  position: relative;
  margin-top: 1em;
}

/* line 14, ../../custom_foundation_build/scss/ribbon.scss */
.rb-side:before, .rb-side:after {
  position: absolute;
  content: "";
  width: 1em;
  height: 100%;
  background-color: #2e54b2;
  z-index: 0;
}
/* line 22, ../../custom_foundation_build/scss/ribbon.scss */
.rb-side:before {
  left: -1em;
}
/* line 26, ../../custom_foundation_build/scss/ribbon.scss */
.rb-side:after {
  right: -1em;
}

/* line 32, ../../custom_foundation_build/scss/ribbon.scss */
.rb-bottom-patch:before, .rb-bottom-patch:after {
  position: absolute;
  content: "";
  bottom: 0;
  z-index: 0;
}
/* line 38, ../../custom_foundation_build/scss/ribbon.scss */
.rb-bottom-patch:before {
  left: -1em;
  width: 0;
  height: 0;
  border-bottom: 0.5em solid #efefef;
  border-right: 1em solid transparent;
}
/* line 45, ../../custom_foundation_build/scss/ribbon.scss */
.rb-bottom-patch:after {
  right: -1em;
  width: 0;
  height: 0;
  border-bottom: 0.5em solid #efefef;
  border-left: 1em solid transparent;
}

/* line 54, ../../custom_foundation_build/scss/ribbon.scss */
.rb-top-patch:before, .rb-top-patch:after {
  position: absolute;
  content: "";
  top: -0.5em;
  height: 0.5em;
  width: 1em;
  background-color: #2e54b2;
  z-index: 0;
}
/* line 63, ../../custom_foundation_build/scss/ribbon.scss */
.rb-top-patch:before {
  left: -1em;
}
/* line 67, ../../custom_foundation_build/scss/ribbon.scss */
.rb-top-patch:after {
  right: -1em;
}

/* line 73, ../../custom_foundation_build/scss/ribbon.scss */
.rb-shadow:before, .rb-shadow:after {
  position: absolute;
  content: "";
  top: -1em;
  z-index: 0;
}
/* line 79, ../../custom_foundation_build/scss/ribbon.scss */
.rb-shadow:before {
  left: -1em;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 1em solid #23418a;
}
/* line 86, ../../custom_foundation_build/scss/ribbon.scss */
.rb-shadow:after {
  right: -1em;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid #23418a;
}

/* line 95, ../../custom_foundation_build/scss/ribbon.scss */
.rb-label {
  background-color: #6495ED;
  color: white;
  position: relative;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 104, ../../custom_foundation_build/scss/ribbon.scss */
.rb-label > span:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #efefef;
  left: 0;
}
