/* line 4, ../scss/app/signup.scss */
body > section.row {
  min-height: 450px; }

/* line 9, ../scss/app/signup.scss */
.label, .button, button {
  background-color: #008CBA; }

/* line 14, ../scss/app/signup.scss */
.button:hover, button:hover {
  background-color: #006687; }

/* line 20, ../scss/app/signup.scss */
.signup > section {
  padding: 1em 2em; }
/* line 23, ../scss/app/signup.scss */
.signup > section > h3, .signup > section > p {
  text-align: center; }
/* line 27, ../scss/app/signup.scss */
.signup > section > p {
  font-size: 12px;
  color: #5f5f5f; }
/* line 34, ../scss/app/signup.scss */
.signup > section.form-eduarch [name] {
  font-size: 10px; }
/* line 38, ../scss/app/signup.scss */
.signup > section.form-eduarch input[type] {
  height: 30px; }
/* line 44, ../scss/app/signup.scss */
.signup > .form-fb > p {
  margin-bottom: 2em; }
/* line 48, ../scss/app/signup.scss */
.signup > .form-fb span.fi-social-facebook {
  font-size: 18.5em;
  color: #2DAEBF;
  text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566; }
/* line 62, ../scss/app/signup.scss */
.signup > .form-fb .button {
  margin-top: 2em; }
